{% extends "home.html" %}
{% block content %}
<div class="card">
  <div class="card-body">
    <h2 style="color: blue;">ChatBot Config</h2>
  </div>
</div>
{% if mycontext %}
{% for element in mycontext %}
<div class="card">
  <div class="card-body">
    <p class="lead">
      <b>{{ element[0] }}</b>
    </p>
  </div>
</div>
{% endfor %}
{% if message %}
<span class="badge text-bg-warning" style="padding:10px; margin:5px;">{{ message }}</span>
{% endif %}
{% endif %}
<div class="card">
  <div class="card-body">
    <form action="{{ url_for('SetChatBot_') }}" method="post">
      <div class="mb-3">
        <h4><label for="context" class="form-label">New description</label></h4>
      </div>
      <div class="mb-3">
        <textarea class="form-control" id="context" name="context" rows="4" required></textarea>
      </div>
      <div class="mb-3">
        <button type="submit" class="btn btn-primary">Save</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}