<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>TELEGRAM BOT</title>
  <!-- Import CSS Styles from static folder -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  <meta name="description" content="" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<body>
  <div>
    <h1>
      TELEGRAM BOT
      <br>
      <span>
        {{ title }}
      </span>
    </h1>
    <nav>
      <ul>
        <li><a href="{{ url_for('Index_') }}">Home</a></li>
        <li><a href="{{ url_for('GetWebHookInfo_') }}">WebHook</a></li>
        <li><a href="{{ url_for('ListUsersWebApp_') }}">Users</a></li>
        <li><a href="{{ url_for('ListOptionsWebApp_') }}">Options</a></li>
        <li><a href="{{ url_for('ServiceStateWebApp_') }}">Service</a></li>
        <li><a href="{{ url_for('SendMessagesWebApp_') }}">Send Messages</a></li>
        <li><a href="{{ url_for('GetMessagesWebApp_') }}">Messages</a></li>
        <li><a href="{{ url_for('LogOut_') }}">LogOut</a></li>
      </ul>
    </nav>
    {% if myuser %}
    <div style="color: gray"><b>USER:</b> {{ myuser }}</div>
    {% endif %}
    <p>
      {% block content %}
    <h2>Home Page</h2>
    {% endblock %}
    </p>
    {% if resp %}
    <div style="color: gold;">{{ resp }}</div>
    {% endif %}
  </div>
</body>

</html>