{% extends "home.html" %}
{% block content %}
<h2>Messages Store</h2>
<table border="1">
  <thead>
    <tr>
      <th>DATE/TIME</th>
      <th>FIRST_NAME</th>
      <th>USERNAME</th>
      <th>MESSAGE</th>
    </tr>
  </thead>
  <tbody>
    {% if messages %}
    {% for message in messages %}
    <tr>
      <td>{{ message.message.date }}</td>
      <td>{{ message.message.chat.first_name }}</td>
      {% if message.message.chat.username == 'ChatBot' %}
      <td style="color:red;">{{ message.message.chat.username }}</td>
      {% else %}
      <td>{{ message.message.chat.username }}</td>
      {% endif %}
      <td>{{ message.message.text }}</td>
    </tr>
    {% endfor %}
  </tbody>
  {% else %}
  <div>Don't have messages!!</div>
  {% endif %}
</table>
{% endblock %}