{% extends "home.html" %}
{% block content %}
<div class="card">
  <div class="card-body">
    <h2 style="color: blue;">Options Bot</h2>
  </div>
</div>
<table class="border table table-bordered">
  <thead>
    <tr>
      <th>OPTION</th>
      <th>OPTION TEXT</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% if options %}
    {% for option in options %}
    <tr>
      <form action="{{ url_for('EditOptionsWebApp_') }}" method="post">
        <td>
          <input type="hidden" name="id" value="{{ option[0] }}">
          <input class="form-control" type="text" name="option" value="{{ option[1] }}" required>
        </td>
        <td>
          <input class="form-control" type="text" name="text" value="{{ option[2] }}" placeholder="Write option text"
            required>
        </td>
        <td>
          <button type="submit" class="btn btn-primary">Edit Option</button>
        </td>
      </form>
    </tr>
    {% endfor %}
  </tbody>
  {% if message %}
  <span class="badge text-bg-success">{{ message }}</span>
  {% endif %}
  {% else %}
  <div></div>
  {% endif %}
</table>
{% endblock %}