{% extends "home.html" %}
{% block content %}
<h2>Send Messages</h2>
<form action="{{ url_for('SendMessagesWebApp_') }}" method="post">
  <div class="inputs">
    <input type="text" name="message" placeholder="Message" required>
    <select name="chatId" required>
      <option value="">Select User</option>
      {% for user in users %}
      <option value="{{ user[1] }}">{{ user[2] }}</option>
      {% endfor %}
    </select>
    <button type="submit">Send</button>
  </div>
</form>
{% if message %}
<div style="color: gold;">{{ message }}</div>
{% endif %}
{% endblock %}