{% extends "home.html" %}
{% block content %}
<h2>Service Status</h2>
{% if result == 1 %}
<div style="color:greenyellow; text-transform:uppercase;">Service active</div>
<form action="{{ url_for('ServiceStateWebApp_') }}" method="post">
  <div class="inputs">
    <input type="text" name="note" placeholder="Write information message" required />
  </div>
  <button type="submit">Deactivate Service</button>
</form>
{% else %}
<div style="color: red; text-transform:uppercase;">Service inactive: {{ note }}</div>
<form action="{{ url_for('ServiceStateWebApp_') }}" method="post">
  <input type="hidden" name="note" />
  <button type="submit">Activate Service</button>
</form>
{% endif %}
{% endblock %}