{% extends "home.html" %}
{% block content %}
<h2>Users List</h2>
<table border="1">
  <thead>
    <tr>
      <th>FIRST_NAME</th>
      <th>USER_NAME</th>
      <th>STATUS</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% if users %}
    {% for user in users %}
    <tr>
      <form action="{{ url_for('ActivateDeactivateUserWebApp_') }}" method="post">
        <td>
          <input type="hidden" name="id" value="{{ user[0] }}">
          <input type="hidden" name="chatId" value="{{ user[1] }}">
          <input type="hidden" name="first_name" value="{{ user[2] }}">
          <p>{{ user[2] }}</p>
        </td>
        <td>
          <p>{{ user[3] }}</p>
        </td>
        <td>
          {% if (user[4] == 1) and (user[5] == 0) %}
          <p style="color: greenyellow;">Active</p>
          <input type="hidden" name="state" value="1">
          {% else %}
          <p style="color: red;">Deactivate</p>
          <input type="hidden" name="state" value="0">
          {% endif %}
        </td>
        <td>
          {% if (user[4] == 1) and (user[5] == 0) %}
          <button type="submit">Deactivate</button>
          {% else %}
          <button type="submit">Activate</button>
          {% endif %}
        </td>
      </form>
    </tr>
    {% endfor %}
  </tbody>
  {% if message %}
  <div style="color: gold;">{{ message }}</div>
  {% endif %}
  {% else %}
  <div>Not Users!!</div>
  {% endif %}
</table>
{% endblock %}