name: Testing and Documentation

on:
  pull_request:
    branches:
      - 'albert'
  push:
    branches:
      - 'albert'

env:
  MYSQL_VERSION: '8.2.0'
  MYSQL_CONTAINER: 'docker_mysql'
<<<<<<< HEAD
  MYSQL_HOST: 'localhost'
  MYSQL_ROOT_PASSWORD: 'password'
  MYSQL_USER: 'studentsuser'
  MYSQL_PASSWORD: 'studentspassword'
  MYSQL_DATABASE: 'students'
=======
  MYSQL_HOST: 'docker_mysql'
  MYSQL_ROOT_PASSWORD: 'devops'
  MYSQL_USER: 'devops'
  MYSQL_PASSWORD: 'devops'
  MYSQL_DATABASE: 'devops'
>>>>>>> 6529eba0418a8d8548c0fe3cd03f94eea3ec4a70

jobs:
  testing:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.8

      - name: Install and verify dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r app/requirements.txt
          pip install cryptography  # Nueva línea para instalar cryptography
          pip list

      - name: Run tests and generate coverage report
        run: |
          coverage run -m pytest app
          coverage report -m

      - name: Run Pylint
        run: |
          pylint --fail-under=1.0 app

  generate-docs:
    needs: testing
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.8

      - name: Install and verify dependencies
<<<<<<< HEAD
        run: |
          python -m pip install --upgrade pip
          pip install -r app/requirements.txt
          pip install cryptography  # Nueva línea para instalar cryptography
=======
        env:
          MYSQL_VERSION: '8.2.0'
          MYSQL_CONTAINER: 'docker_mysql'
          MYSQL_HOST: 'docker_mysql'
          MYSQL_ROOT_PASSWORD: 'devops'
          MYSQL_USER: 'devops'
          MYSQL_PASSWORD: 'devops'
          MYSQL_DATABASE: 'devops'
        run: |
          python -m pip install --upgrade pip
          pip install -r app/requirements.txt
          pip install python-dotenv
          pip install cryptography
>>>>>>> 6529eba0418a8d8548c0fe3cd03f94eea3ec4a70
          pip list
          env

      - name: Show environment variables before pdoc
        run: |
          echo "MYSQL_VERSION: $MYSQL_VERSION"
          echo "MYSQL_CONTAINER: $MYSQL_CONTAINER"
          echo "MYSQL_HOST: $MYSQL_HOST"
          echo "MYSQL_ROOT_PASSWORD: $MYSQL_ROOT_PASSWORD"
          echo "MYSQL_USER: $MYSQL_USER"
          echo "MYSQL_PASSWORD: $MYSQL_PASSWORD"
          echo "MYSQL_DATABASE: $MYSQL_DATABASE"
        working-directory: ./app

      - name: Run MySQL container
        run: |
          docker run -d --name $MYSQL_CONTAINER -p 3306:3306 -e MYSQL_ROOT_PASSWORD=${{env.MYSQL_ROOT_PASSWORD}} -e MYSQL_USER=${{env.MYSQL_USER}} -e MYSQL_PASSWORD=${{env.MYSQL_PASSWORD}} -e MYSQL_DATABASE=${{env.MYSQL_DATABASE}} mysql:${{env.MYSQL_VERSION}}

      - name: Wait for MySQL to start
        run: |
          ls -l ./app/tools/
          pwd
          chmod +x ./app/tools/check_mysql_ready.sh
          ./app/tools/check_mysql_ready.sh
        shell: bash

      - name: Grant MySQL Permissions
        run: |
          mysql -h ${{ env.MYSQL_HOST }} -u ${{ env.MYSQL_USER }} -p${{ env.MYSQL_PASSWORD }} -e "GRANT ALL PRIVILEGES ON *.* TO '${{ env.MYSQL_USER }}'@'172.17.0.1' IDENTIFIED BY '${{ env.MYSQL_PASSWORD }}'; FLUSH PRIVILEGES;"
        env:
          MYSQL_HOST: ${{ env.MYSQL_HOST }}
          MYSQL_USER: ${{ env.MYSQL_USER }}
          MYSQL_PASSWORD: ${{ env.MYSQL_PASSWORD }}

      - name: Clean existing docs
        run: rm -rf docs
        continue-on-error: true
        working-directory: ./app

      - name: Generate Documentation
        run: |
          mkdir docs
          pdoc src/app.py -o docs
        working-directory: ./app

      - name: Archive Documentation
        uses: actions/upload-artifact@v3
        with:
          name: documentation
          path: ./app/docs

      - name: Destroy MySQL container
        run: docker rm -f $MYSQL_CONTAINER

  snyk:
    needs: testing
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.8

      - name: Install and verify dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r app/requirements.txt
          pip list

      - name: Install Snyk
        run: npm install -g snyk

      - name: Authenticate Snyk
        run: snyk auth ${{ secrets.SNYK_AUTH_TOKEN }}

      - name: Test with Snyk
        run: |
          cd app
          snyk test
